## Informe de ni√±os, en peligro de drogra o violencia de pandillas en Cali.

In [1]:
import pandas as pd

In [2]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [3]:
medals_data = pd.read_csv( medals_url)

In [4]:
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [5]:
file_url = pd.read_excel("Inicial.xls", "CARACT 7")
comuna20 = pd.read_excel("Inicial.xls", "TABLA 20")

In [8]:
import urllib3
http = urllib3.PoolManager()
file_url2 = "https://drive.google.com/file/d/18BpargXs_nX5JLL7VwE3iJKJg-v6VvXD/view?usp=sharing/Inicial.xls"
r = http.request('GET',medals_url)
r_2 = http.request('GET',file_url2)  
#r.data

In [9]:
response =  r.data

In [10]:
str_data = response.decode('utf-8')

In [27]:
dict_data = {}

In [28]:
# Se crea la cabecera.
lines = str_data.split(',')
col_names = lines[0].split(",")
str_data2 =  str_data.split('\n')
header = str_data2[0].split(',')

In [29]:
len(str_data2)

2312

In [30]:
print(header)

['Year', 'City', 'Sport', 'Discipline', 'NOC', 'Event', 'Event gender', 'Medal']

In [31]:
data_dict = {}
for i in header:
    data_dict[i] = {}

In [32]:
print(data_dict)

{'Year': {}, 'City': {}, 'Sport': {}, 'Discipline': {}, 'NOC': {}, 'Event': {}, 'Event gender': {}, 'Medal': {}}

In [33]:
for i in range(len(str_data2)):
    if i > 0:
        str_test = str_data2[i].split(',')
        k = 0
        for j in data_dict:
            data_dict[j][i] = str_test[k]
            k = k + 1

In [42]:
data_dict = pd.DataFrame.from_dict(data_dict)

In [43]:
data_dict.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
2,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
3,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
4,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
5,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

## Funci√≥n para recibir un csv por url y a trev√©s de la biblioteca urllib3 y pasarlo a data frame.

In [48]:
def csv_to_dataframe(input_url, separador):
    import urllib3
    http = urllib3.PoolManager()
    file_url2 = "https://drive.google.com/file/d/18BpargXs_nX5JLL7VwE3iJKJg-v6VvXD/view?usp=sharing/Inicial.xls"
    r = http.request('GET', input_url)
    response =  r.data
    str_data = response.decode('utf-8')
    
    # Se crea la cabecera.
    lines = str_data.split(separador)
    col_names = lines[0].split(separador)
    str_data2 =  str_data.split('\n')
    header = str_data2[0].split(separador)
    
    data_dict = {}
    for i in header:
        data_dict[i] = {}
    
    for i in range(len(str_data2)):
        if i > 0:
            str_test = str_data2[i].split(separador)
            k = 0
            for j in data_dict:
                data_dict[j][i] = str_test[k]
                k = k + 1
    dataframe = pd.DataFrame.from_dict(data_dict)

    return dataframe

In [49]:
nombre_de_mi_archivo = csv_to_dataframe(medals_url, separador = ',')
nombre_de_mi_archivo.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
2,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
3,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
4,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
5,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [11]:
comuna20.head()

,AREA,No.,Codigo del participante,1,2,3,4,5,6,7,...,42,43,44,45,46,47,48,49,50,51
0,DATOS GENERALES,1,Edad,16,16,13,15,14,16,16,...,11,10,11,12,8,10,9,11,11,11
1,NaN,2,G√©nero (F/M),M,F,M,F,F,M,F,...,M,M,F,M,F,F,F,F,F,M
2,NaN,3,Escolaridad (√∫ltimo a√±o aprobado),11¬∞,10¬∞,7¬∞,8¬∞,7¬∞,9¬∞,10¬∞,...,5¬∞,5¬∞,2,2,1,4¬∞,3¬∞,6¬∞,5¬∞,6¬∞
3,AREA FAMILIAR,1,Personas con las que convive (cantidad),3,9,5,1,5,5,5,...,2,3,3,4,2,2,3,3,5,6
4,AREA ESCOLER,1,Estudia actualmente (Si/No/NA),SI,SI,SI,SI,SI,SI,SI,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI

In [56]:
comuna20.columns.values
#comuna20[1]

array(['AREA', 'No.', 'Codigo del participante', 1, 2, 3, 4, 5, 6, 7, 8,
       9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,
       26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42,
       43, 44, 45, 46, 47, 48, 49, 50, 51], dtype=object)

In [99]:
mean_years_old = 0
j = 0
for i in range(1,52):
    mean_years_old = mean_years_old + float(comuna20[i][0])
    j = j + 1
mean_years_old =  mean_years_old / j
print("El promedio de la edad es " + "{:.2f}".format(mean_years_old))

El promedio de la edad es 12.67

In [100]:
#N√∫mero de personas con las que vive.
mean_persons = 0
j = 0
for i in range(1,52):
    mean_persons = mean_persons + float(comuna20[i][3])
    j = j + 1
mean_persons =  mean_persons / j
print("El promedio de n√∫mero de personas con las que vive es " + "{:.2f}".format(mean_persons))

El promedio de n√∫mero de personas con las que vive es 4.12

In [101]:
#N√∫mero de ni√±os con los que vive.
mean = 0
j = 0
study = 0
no_study = 0
for i in range(1,52):
    if comuna20[i][4] ==  "SI":
        study = study + 1
    if comuna20[i][4] ==  "NO":
        no_study = no_study + 1
        
print("La cantidad de ni√±os que estudia es %d, frente a la cantidad de ni√±os que no estudia %d." %(study,no_study))

La cantidad de ni√±os que estudia es 47, frente a la cantidad de ni√±os que no estudia 4.

8