## Informe de niños, en peligro de drogra o violencia de pandillas en Cali.

In [1]:
import pandas as pd

In [11]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [12]:
medals_data = pd.read_csv( medals_url)

In [21]:
file_url = pd.read_excel("Documents/my_scrips_data_cleaning/Inicial.xls", "CARACT 7")
comuna20 = pd.read_excel("Documents/my_scrips_data_cleaning/Inicial.xls", "TABLA 20")

In [114]:
import urllib3
http = urllib3.PoolManager()
file_url2 = "https://drive.google.com/file/d/18BpargXs_nX5JLL7VwE3iJKJg-v6VvXD/view?usp=sharing"
r = http.request('GET',file_url2)
#r.data

In [24]:
comuna20.head()

,AREA,No.,Codigo del participante,1,2,3,4,5,6,7,...,42,43,44,45,46,47,48,49,50,51
0,DATOS GENERALES,1,Edad,16,16,13,15,14,16,16,...,11,10,11,12,8,10,9,11,11,11
1,NaN,2,Género (F/M),M,F,M,F,F,M,F,...,M,M,F,M,F,F,F,F,F,M
2,NaN,3,Escolaridad (último año aprobado),11°,10°,7°,8°,7°,9°,10°,...,5°,5°,2,2,1,4°,3°,6°,5°,6°
3,AREA FAMILIAR,1,Personas con las que convive (cantidad),3,9,5,1,5,5,5,...,2,3,3,4,2,2,3,3,5,6
4,AREA ESCOLER,1,Estudia actualmente (Si/No/NA),SI,SI,SI,SI,SI,SI,SI,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI

In [56]:
comuna20.columns.values
#comuna20[1]

array(['AREA', 'No.', 'Codigo del participante', 1, 2, 3, 4, 5, 6, 7, 8,
       9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,
       26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42,
       43, 44, 45, 46, 47, 48, 49, 50, 51], dtype=object)

In [99]:
mean_years_old = 0
j = 0
for i in range(1,52):
    mean_years_old = mean_years_old + float(comuna20[i][0])
    j = j + 1
mean_years_old =  mean_years_old / j
print("El promedio de la edad es " + "{:.2f}".format(mean_years_old))

El promedio de la edad es 12.67

In [100]:
#Número de personas con las que vive.
mean_persons = 0
j = 0
for i in range(1,52):
    mean_persons = mean_persons + float(comuna20[i][3])
    j = j + 1
mean_persons =  mean_persons / j
print("El promedio de número de personas con las que vive es " + "{:.2f}".format(mean_persons))

El promedio de número de personas con las que vive es 4.12

In [101]:
#Número de niños con los que vive.
mean = 0
j = 0
study = 0
no_study = 0
for i in range(1,52):
    if comuna20[i][4] ==  "SI":
        study = study + 1
    if comuna20[i][4] ==  "NO":
        no_study = no_study + 1
        
print("La cantidad de niños que estudia es %d, frente a la cantidad de niños que no estudia %d." %(study,no_study))

La cantidad de niños que estudia es 47, frente a la cantidad de niños que no estudia 4.

8